[user]
    name = Benoit Thiell
    email = bthiell@cfa.harvard.edu
[alias]
    s = status
    b = branch
    co = checkout
    l = log
    d = diff
[color]
    ui = auto
[core]
    excludesfile = /home/bthiell/.gitignore
